/* .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
} */

.content {
    display: flex;
    flex-direction: row;
    font-family: "Roboto";

}

.pagination {
    flex: 3 36rem;  
    width: 75%; 
}

.catalogue {
    width: 75%;
}

.cart {
    display: flex;
    justify-content: center;
    border-top: 2rem;   
    width: 25%;
    height: 100%;
    border-radius: 0.5rem;
}

.filterCategories {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}    

.pagination {
    z-index: -10rem;
}
  
.footer {
      margin-top: -10rem;
}

  