.footerContainer {
    margin-top: 15rem;
    
}

.footer {
    display: flex;
    padding-top: 1rem;
    width: 100%;
    color: grey;
    text-align: center;
    font-family: "Roboto";
    justify-content: space-around;
    
  }
  
  .usedTechnologies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60rem;
    padding-left: 2rem;
    width: 75%;
  }

  .list {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    width: 15rem;
    ul {
      padding-left: 1rem;
      width: 8rem;
      font-family: "Roboto";
      font-size: 1.2rem;
      li {
        text-align: left;
        white-space: nowrap;
      }
    }
  }

  .container1 {
    flex-direction: column;
    width: 30rem;
    width: 25%;
  }

  .infoDevs {
    display: grid;
    align-items: center;
    flex-grow: 2;
    margin: 1rem;
  }
  
 .us {
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-size: 1.5rem;
  }

  .imgGithub {
    width: 2rem;
    margin-top: 0.5rem;
  }
  