.searchBar {
    display: flex;
    background-color: #FFF159;   
    color: #736c28; 
    text-align: center;
    overflow: hidden;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.text {
    color: #736c28; 
    text-decoration:none;
    font-family: "OpenSans";
    float: left;
    margin-left: 40px;
    
}

.navLogo {
    margin-left: 0px;
    
}

.imgLogo{
    display: flex;
    justify-content: flex-start;
    width: 10rem;
    height: 20%;
}


.cart {
    color: #736c28; 
    float: right;
    margin-right: 10px;    
}

.form {
    display: flex;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    /* width: -webkit-fill-available;     */
    width: 30rem;
}

.input {
    height: 2.5rem;
    width: -webkit-fill-available;    
    margin-left: 5px;    
}

.buttonSubmit {
    height: 2.5rem;
    margin-right: 20px;  
   
}


